/* font-family: 'DM Sans', sans-serif;
font-family: 'Bebas Neue', sans-serif; */
/* font-family: 'Calligraffitti', cursive; */


*{
     color: #000000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
body{
    background-color: #ddd0c8;
}

html{
    scroll-behavior: smooth;
}




/* Navigation section */
#navbar{
    display: flex;
    position: sticky;
    background-color: #ddd0c8;
}

.class {
    display: flex;
    margin: 13px; 
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    padding-right: 3px;
    font-family: 'Roboto', sans-serif;
}





/* home section */
#home{
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    margin-top: 2px;
    font-size: 2vw;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'DM Sans', sans-serif;
    background-image: url(bg8.jpg);
    display: flex;
    flex-direction: column;
}
 #himage1{
    height: 35vw;
    width: 35vw;
    margin-left: 30vw;
}
#himage2{
    height: 25vw;
    width: 25vw;
   margin-left: 8vw;
 }
 #himage3{
    height: 25vw;
    width: 25vw;
   margin-left: 38vw;
   margin-top: -25vw;
   
 }
 #himage4{
    height: 25vw;
    width: 25vw;
   margin-left: 68vw;
   margin-top: -25vw;
 }
.primary{
    margin-bottom: 20px;
    font-weight: bold;
    font-display: 123;
    font-size: 3vw;
    color: #323232;
    text-align: center;
}



/* Test section*/
#Test{
    text-align: center;
    justify-content: center;
    margin-top: 0.5vw;
    font-size: 70px;
    background-image: url(bg8.jpg);
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: row;

}
.testpng{
    height: 20vw;
    width: 20vw;
   justify-content: center;
   align-items: center;
   text-align: center;
   
}
.button{
    align-items: center;
    padding: 6px 20px;
    background-color: burlywood;
    margin: 15px;
    font-size: 1.5vw;
    width: 15vw;
    height: 5vw;
    margin-top: 8vw;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
}



/* Suggestion */
#suggestion{
    text-align: center;
    margin-top: -2.2vw;
    font-size: 2vw;
    background-image: url(bg8.jpg);
    font-family: 'DM Sans', sans-serif;
}
#suggestion ul{
    text-align: left;
    margin-left: 20px;
    font-weight: bold;
}
#suggestion ul :hover{
  color: rgb(0, 114, 95);
}
#mainvideo{
    height: 40vw;
    width: 60vw;
}
.song{
    text-align: left;
    margin-top: 3vw;
}
.video{
    text-align: justify;
    margin-top: 15vw;
}
.songpng{
    height: 3vw;
    width: 3vw;
}
.videopng{
    height: 3vw;
    width: 3vw;
}
#Videos{
    margin-top: -28vw;
    margin-bottom: -2vw;
    margin-left: 20vw;
}



/* solution*/
#solution{
    text-align: center;
    margin-top: -2vw;
    font-size: 70px;
    font-family: 'DM Sans', sans-serif;
    background-image: url(bg8.jpg);
}

.dhead{
    margin-bottom: -8px;
    font-size: 1.5vw;
}
.head{
    font-size: 2vw;
}
.Depressionsolution{
    text-align: left;
    margin-left: 2vw;
    margin-bottom: -20px;
}
.doctorpng{
    margin-top: 4vw;
    height: 10vw;
    width: 10vw;
    margin-right: 15vw;
    margin-left: 5vw;
}
.contactinfo{
 width: 25vw;
 font-size: 1.5vw;
}
.solutiontext{
    font-size: 1.5vw;
}
#normalsolution{
    text-align: left;
}


/* Reviews */
#reviews{
    text-align: center;
    margin-top: 2vw;
    font-size: 150px;
    background-image: url(bg8.jpg);
    font-family: 'DM Sans', sans-serif;
}
#text{
    height: 10vw;
    width: 40vw;
    font-size: 2vw;
}
