 *{
    /*background-color: rgb(120, 201, 255); */
    
    /* background-color: #ddd0c8; */
    color: #000000;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html{
    scroll-behavior: smooth;
}




/* Navigation section */
#navbar{
    display: flex;
    /* align-items: center; */
    /* text-decoration: none; */
    position: sticky;
    /* background-color: rgb(197, 255, 5); */
    /* margin-left: 120px; */
    /* position: fixed; */
    /* margin-top: -150px; */
    /* border: rgb(0, 68, 255); */
    background-color: #ddd0c8;
}

.class {
    display: flex;
    /* align-items: center; */
    margin: 13px; 
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* align-items: center; */
    font-size: 45px;
    padding-right: 3px;
    /* font-family: 'DM Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif; */
    font-family: 'Roboto', sans-serif;
}





/* home section */
#home{
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    margin-top: 2px;
    font-size: 70px;
    justify-content: center;
    /* background-size: 100% 100%; */
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'DM Sans', sans-serif;
    background-image: url(bg8.jpg);
}
#home img{
    height: 1080px;
    width: 1920px;
    opacity: 2;
 } 
.primary{
    margin-bottom: 20px;
    font-weight: bold;
    font-display: 123;
    font-size: 70px ;
    color: #323232;
    text-align: center;
}



/* Test section */
#Test{
    text-align: center;
    /* font-family: 'Calligraffitti', cursive; */
    margin-top: -60px;
    font-size: 70px;
    /* background-color: chartreuse; */
    background-image: url(bg8.jpg);
    font-family: 'DM Sans', sans-serif;
}
#Test img{ 
    /* margin-top: 150px; */
    height: 1080px;
    width: 1920px;
    opacity: 2;
}
.button{
    align-items: center;
    padding: 6px 20px;
    border: 2px solid white;
    background-color: burlywood;
    color: white;
    color: rgb(0, 0, 0);
    margin: 15px;
    font-size: 50px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Skranji', cursive;
    /* border: #000000; */
}




/* Suggestion */
#suggestion{
    text-align: center;
    /* font-family: 'Calligraffitti', cursive; */
    margin-top: -50px;
    font-size: 70px;
    background-image: url(bg8.jpg);
    font-family: 'DM Sans', sans-serif;
}
#video{
    text-align: center;
    align-items: center;
    /* margin-left: 80px; */
}
#suggestion ul{
    text-align: left;
    margin-left: 20px;
    font-weight: bold;
}
#suggestion ul :hover{
  /* color: yellow; */
  color: rgb(0, 114, 95);
  /* cursor: progress ; */
}
.song{
    text-align: left;
}
.video{
    text-align: justify;
}
.songpng{
    height: 0100px;
    width: 100px;
}
.videopng{
    height: 0100px;
    width: 100px;
}
#Videos{
    margin-left: 500px;
    margin-top: -500px;
}


/* solution*/

#solution{
    text-align: center;
    /* font-family: 'Calligraffitti', cursive; */
    margin-top: -50px;
    font-size: 70px;
    font-family: 'DM Sans', sans-serif;
    background-image: url(bg8.jpg);

}
#solution img{
    /* margin-top: 150px; */
    height: 1080px;
    width: 1920px;
    opacity: 2;
}


/* Reviews */
#reviews{
    text-align: center;
    /* font-family: 'Calligraffitti', cursive; */
    margin-top: -60px;
    font-size: 150px;
    background-image: url(bg8.jpg);
    font-family: 'DM Sans', sans-serif;
}
#text{
    height: 800px;
    width: 1900px;
    font-size: 50px;
    /* text-size-adjust: 2100px; */
}
